/*Giphy Background*/
body{
    background-image: url("start.gif");
    background-color: black;
    font: white;
    height:100%;
    width: 100%;
    background-repeat: repeat;
    background-size: 100%;
}

/*Navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(157, 160, 159);
    color: rgb(154, 154, 163);
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }


/*ABOUT*/
body{
    margin-bottom: 0;
    padding: 0;
    height: 5px;

}
h1{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    top:50%;



}

/*SKILLS*/
.about-content {
    
    margin:0;
    position:fixed;
    padding-right: 12;
    font-family:Helvetica,Arial,sans-serif;
    background: white;
    font:black;
  }

.about{
  background-color: beige;
}


#java_logo25
{
  display: block;
  width: 107px;
  height: 23px;
  background: url("java_logo25.jpg") no-repeat 0 0;

}

/*email details*/
#About
{
    color: pink;
}

#Skills :hover
{ 
  background-position: 0 -23px;
}

#java_logo25 span
{
  position: absolute;
  top: -999em;
}

/*CONTACT DETAILS*/
.contbar
body{
  margin:0;
  padding: 0;
  text-align: center;
	background-color: hsl(hue, saturation, lightness);
	background-size:cover;
  font-family: sans-serif;
  
  font-size: 32px;
  line-height: 20px;
}

.contbar{
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

form{
  margin-top: 50px;
  transition:all 4s ease-in-out;
}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom:16;
}

input{
  height: 45px;
}

form.submit{
  background: #ff5722;
  border-color: transparent;
  font-size: 20px;
  
}
/*EDUCATION*/
